# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db


# Other
*.log
sitemap.xml
sitemap.xml.gz
error_log


# Ignore everything in the root except ...
/*
!.gitignore
!maintenance.php