/**
 * Mixins
 * -----------------------------------------------------------------------------
 */

/**
  * Placeholders color
  * Usage:
    @include input-placeholder {
      color: $grey;
    }
  */
@mixin input-placeholder() {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/**
  * Set a rem font size with pixel fallback
  * Usage: @include font-size(14px);
  */
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/**
  * Clearfix for containing floats.
  * Usage: @include clearfix;
  */
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

/**
  * Hides the text in an element.
  * Usage: @include hide-text;
  */
@mixin hide-text() {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

/**
  * Sizing shortcuts
  * Usage: @include size(200px, 100px);
  */
  @mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }

/**
  * Gradient
  * Usage: @include gradient(#ccc, #ddd);
  */
@mixin gradient($color-one, $color-two) {
  background: $color-one; // Fallback
  background: -webkit-linear-gradient(to left, $color-one, $color-two);
  background: linear-gradient(to left, $color-one, $color-two);
}

/* Media queries (mobile-first) */
@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-large {
  @media (min-width: #{$mobile-large-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tv {
  @media (min-width: #{$tv-width}) {
    @content;
  }
}
