/**
 * Variables
 * -----------------------------------------------------------------------------
 */

/* Media queries */
$tablet-width:            768px; // Small Devices, Tablets
$desktops-width:          992px; // Medium Devices, Desktops
$tv-width:                1200px; // Large Devices, TV

/* Fonts */
$font-size-base:          14px !default;
$line-height-base:        1.428571429 !default; // 20/14 (Use with components like buttons, etc.)
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px (Use with margin, padding, etc.)

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** By default, this inherits from the `<body>`.
$headings-line-height:    1.1 !default;
