/**
 * Highlight color (selection)
 * -----------------------------------------------------------------------------
 */

::selection {
  background: $selection;
  text-shadow: none;
}

::-moz-selection {
  background: $selection;
  text-shadow: none;
}

body {
  -webkit-tap-highlight-color: $selection;
}
