/**
 * Typography
 * -----------------------------------------------------------------------------
 */

html {
  @include font-size($font-size-base);
  line-height: $line-height-computed;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: $headings-line-height;
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
  color: $headings-color;
}

h1 { @include font-size($font-size-h1); }
h2 { @include font-size($font-size-h2); }
h3 { @include font-size($font-size-h3); }
h4 { @include font-size($font-size-h4); }
h5 { @include font-size($font-size-h5); }
h6 { @include font-size($font-size-h6); }

/* Paragraphs */
p {
  line-height: $line-height-computed;
}
