/**
 * Button styles
 * -----------------------------------------------------------------------------
 */

/* Default */
button, .btn {
  display: block;
  padding: 5px 20px;
  @include font-size(13px);
  font-weight: 600;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
  transition: background .1s ease;

  &:hover,
  &:active,
  &:focus {
    color: white;
    outline: 0;
    background: $gray-light;
    cursor: pointer;
  }
}
